/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/main.scss */
body {
  color: #fff;
  padding: 0;
  margin: 0; }

/* line 11, ../sass/main.scss */
label {
  color: #fff; }

/* line 14, ../sass/main.scss */
.top-bar, .top-bar.expanded .title-area {
  background: #E17818;
  height: 70px; }

/* line 18, ../sass/main.scss */
.top-bar-section ul li.active > a, .top-bar-section .has-form, .top-bar-section li a:not(.button), .top-bar-section ul {
  background: #E17818; }

/* line 21, ../sass/main.scss */
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #fff;
  border-left: none;
  clear: none;
  height: 45px;
  width: 0px; }

/* line 30, ../sass/main.scss */
.top-bar-section {
  margin-top: 10px; }

/* line 33, ../sass/main.scss */
.top-bar-section li a {
  /*line-height: 70px;*/ }

/* line 36, ../sass/main.scss */
.logo {
  background: url(../images/logoweb.png) no-repeat;
  width: 193px;
  height: 70px; }

/* line 41, ../sass/main.scss */
#footer {
  text-align: center; }
