@import url(app.css);
@import url(jquery.pageslide.css);

/*
Vanilla CSS, tulis css murni di bawah blok ini
 */
img.menu-image{
    margin: 0 4px 0 -7px;
    height: 2.5em !important;
    width: auto !important;
    float: left;
    top: 6px;
    position: relative;
}
[data-section-title]{
    font-family: 'RalewayMedium';
}
.active [data-section-title]{
   font-family: 'RalewaySemiBold';
}
header#sparta-header .container{
    text-align: center;
}
h1#registrasi{
    text-align: center;
}
#register-form section div.content,
.section-container.auto section.active .title
{
    background: rgba(255,255,255,0.7)!important;
}
.section-container.auto .title
{
    background: rgba(255,255,255,0.8)!important;
}
a.delete{
    font-size: .4em;
    color:red;
    margin-left: 1.2em;
    text-decoration: underline;
    font-family: 'RalewaySemiBold';
}
a.delete:hover{
    color:green;
}
.alert-error{
    display:none;
}
.right{
    float:right;
    padding:0 3px;
}
.transparent{
    opacity:0.5;
}
.transparent:hover{
    opacity: 1;
}
.bottom-corner{
    position:absolute;
    bottom:10px;
    right:10px;
}
.list.no-bullet li{
    list-style: none;
}
#poin .gadget-container{
    min-height: 30em;
}
#copyright{
    color: #f49400;
    margin-bottom: 0.5em;
}
#total-poin{
    margin-top:10px;
    font-size: 10em;
    margin-left: 10%;
    position: absolute;
    top:10px;
    opacity: 0.5;
    line-height: 0.8;
}
.highcharts-tooltip h1,
.highcharts-tooltip h2,
.highcharts-tooltip h3,
.highcharts-tooltip h4,
.highcharts-tooltip h5,
.highcharts-tooltip h6,
.highcharts-tooltip p
{
    color:#000;
}
#total-poin span{
    font-size: 50%;
}
.yiiLog{
    display:inline;
}
.full{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.center{
    text-align: center;
}

.fixified{
    position: fixed!important;
    width: 100%;
    top:0!important;
    top:15px;
    z-index: 1;
    opacity: 0.95;
}

select{
    margin-bottom:2em;
}

/*
css dengan assets (image dsb, ditaro di sini)
 */
/*
.gadget-container, .text-container{
	background-image: url(../images/bg/white.png);
}
body{
	background: url(../images/bg/black.png)!important;
    background-size: cover;
    height: 200%;
}*/
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../images/bg/blur-2.jpg) no-repeat!important;
    background-size: cover;
    z-index: -1;
}
/*
	All Fonts 
 */
@font-face {font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'Fjalla-One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(../fonts/Fjalla.woff) format('woff');
}
@font-face {font-family: 'Average-Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Average Sans'), local('AverageSans-Regular'), url(../fonts/Average-Sans.woff) format('woff');
}
@font-face {font-family: 'RalewayThin';
    src: url('../fonts/raleway_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewayExtraLight';
    src: url('../fonts/Raleway-ExtraLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewayLight';
    src: url('../fonts/Raleway-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewayRegular';
    src: url('../fonts/Raleway-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewayMedium';
    src: url('../fonts/Raleway-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewaySemiBold';
    src: url('../fonts/Raleway-SemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewayBold';
    src: url('../fonts/Raleway-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewayExtraBold';
    src: url('../fonts/Raleway-ExtraBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'RalewayHeavy';
    src: url('../fonts/Raleway-Heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'icomoon';
	src:url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}