@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/* -------------------------------------
 * Set to false if you are not using Chrome
 * ------------------------------------- */
/* -------------------------------------
 * Styles
 * ------------------------------------- */
/* line 20, ../sass/timeline.sass */
h2, #note {
  margin: 0 ; }

/* line 23, ../sass/timeline.sass */
#timeline {
  margin-top: 80px ;
  margin-bottom: 80px ;
  padding: 0 ;
  border-top: 5px solid #eee9dc ;
  list-style: none ; }
  /* line 31, ../sass/timeline.sass */
  #timeline li {
    padding-top: 30px ;
    position: relative ;
    float: left ; }
    /* line 43, ../sass/timeline.sass */
    #timeline li:hover label {
      opacity: 1 ;
      transform: translateY(10px) ; }
  /* line 46, ../sass/timeline.sass */
  #timeline label {
    width:auto;
    max-width: 95%;
    margin: 0 auto ;
    padding: 5px 0px ;
    border-width: 2px ;
    border-style: solid ;
    border-color: #eee9dc ;
    border-radius: 5px ;
    position: absolute ;
    left: 4px ;
    right: 0 ;
    cursor: pointer ;
    opacity: 0 ;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out; }
    #timeline label.narrow{
      width:40%!important;
      left:8px;
    }
    #timeline label.narrow span{
      padding-top:5px;
    }
    /* line 63, ../sass/timeline.sass */
    #timeline label:before, #timeline label:after {
      content: "" ;
      width: 0 ;
      height: 0 ;
      border: solid transparent ;
      position: absolute ;
      bottom: 100% ;
      pointer-events: none ; }
    /* line 71, ../sass/timeline.sass */
    #timeline label:before {
      border-bottom-color: #eee9dc ;
      border-width: 15px ;
      left: 52% ;
      margin-left: -15px ; }
    /* line 76, ../sass/timeline.sass */
    #timeline label:after {
      border-bottom-color: #eee9dc ;
      border-width: 12px ;
      left: 52% ;
      margin-left: -12px ; }
    /* line 81, ../sass/timeline.sass */
    #timeline label span {
      text-align: center ;
      white-space: nowrap ;
      text-overflow: ellipsis ;
      overflow: hidden ;
      display: block ; }
  /* line 88, ../sass/timeline.sass */
  #timeline .timeline-date {
    width: 100% ;
    padding-bottom: 30px ;
    text-align: center ;
    position: absolute ;
    top: -60px ;
    display: block ; }
  /* line 95, ../sass/timeline.sass */
  #timeline .timeline-circle {
    width: 20px ;
    height: 20px ;
    margin-left: -5px ;
    background: #eee9dc ;
    border: 5px solid #eee9dc ;
    border-radius: 50% ;
    position: absolute ;
    top: -13px ;
    left: 50% ; }
  /* line 107, ../sass/timeline.sass */
  #timeline .timeline-radio {
    display: none ; }
  /* line 110, ../sass/timeline.sass */
  #timeline .timeline-radio:checked + label {
    opacity: 1 ;
    transform: translateY(10px) ;
    transition: opacity 0.4s ease-in-out 0.25s, transform 0.3s ease-in-out 0.25s ; }
  /* line 114, ../sass/timeline.sass */
  #timeline .timeline-radio:checked ~ .timeline-circle {
    background: #f98262 ; }

@keyframes switching;
/* line 119, ../sass/timeline.sass */
0% {
  transform: perspective(1000px) rotateY(20deg); }

/* line 121, ../sass/timeline.sass */
40% {
  transform: perspective(1000px) rotateY(15deg) translate(100px, 0); }

/* line 123, ../sass/timeline.sass */
100% {
  transform: perspective(1000px) rotateY(15deg) translate(40px, 0); }

@keyframes switching_back;
/* line 128, ../sass/timeline.sass */
0% {
  transform: perspective(1000px) rotateY(15deg) translate(40px, 0);
  z-index: 200; }

/* line 131, ../sass/timeline.sass */
40% {
  transform: perspective(1000px) rotateY(15deg) translate(0px, 0px) scale(1.08); }

/* line 133, ../sass/timeline.sass */
100% {
  transform: perspective(1000px) rotateY(20deg);
  z-index: 100; }

