@import "sassy-buttons";
.tombol{
	@include sassy-button("flat", 0px, 19px, #D5401A);
	font-family: 'Oswald', sans-serif;	
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    border-top:0px !important;
}
#joinus{
	font-size: 1.8em;
	@include sassy-button-style("push", #D5401A)
}
