@import "styleguide";

$gadget-background-color: rgba($color-1,0.3);
$gadget-border-color: $color-1;
$gadget-font-color: $color-1;
.gadget{
	margin-top:$column-gutter/2 !important;
	margin-bottom:$column-gutter/2 !important;
}

.gadget-container{
	//@include box-shadow(rgba(0,0,0,0.7) -1px 2px 2px);
	overflow:hidden!important;
	background-color:$gadget-background-color;
	border-top: 0px solid $color-2;
	h1,h2,h3,h4,h5,h6,p,label,span{
		margin:0;
		color:$gadget-font-color;
	}
	.gadget-header{
		@extend .title;
		//border-bottom: 1px solid $gadget-border-color;
		border-bottom: 2px solid rgba($color-1,0.17);
		overflow:hidden;
		padding:7px 5px 3px 7px;
		span{
			font-family: 'RalewayBold';
		}
	}
	.gadget-footer{
		@extend .gadget-header;
		border-top: 1px solid $gadget-border-color;
		border-bottom:0;

	}
	.gadget-content{
		padding:1em;
	}
	/*
	textarea,input{
		padding:0em;
		background: transparent;
		border: 0;
		box-shadow: none;
		&:active{
			background: transparent;
		};
	}
	textarea{
		resize:none;
		width:100%!important;
		height:15em!important;
	}*/
}

.gadget-1{
	@extend .gadget;
	@media #{$small} {
		@include grid-column(3);	
		} 
	@include grid-column(12);}
.gadget-2{
	@extend .gadget;
	@media #{$small} {
		@include grid-column(6);	
		} 
	@include grid-column(12);}
.gadget-3{
	@extend .gadget;
	@media #{$small} {
		@include grid-column(9);	
		} 
	@include grid-column(12);}
.gadget-4{
	@extend .gadget;
	@include grid-column(12);}
.gadget-center{
	@extend .gadget;
	@media only screen and (min-width:"#{$small-screen}"){
		@include grid-column(7,false,true);	
	}
	@include grid-column(12);
}

.profile{
	@extend .gadget;
	@media only screen and (min-width:"#{$small-screen}"){
		@include grid-column(6);	
	}
	@media only screen and (min-width:"#{$small-screen}") and (max-width:"#{$medium-screen}") {
		@include grid-column(9);	
	}
	@include grid-column(12);
	&.view{
		@media only screen and (min-width:"#{$small-screen}"){
		@include grid-column(8);	
		}
		@include grid-column(12);
		.profile-container{
			height:17em;
		}
	}
	&.list{
		@media only screen and (min-width:"#{$small-screen}"){
		@include grid-column(6);	
		}
		@include grid-column(12);
		.profile-container{
			height:11em;
		}
		.profile-pic{
			@include grid-column(3);
		}
		.profile-desc{
			@include grid-column(9);
		}
		&:hover{
			.profile-container{
			border-right: 3px solid rgba($gadget-border-color,0.4);
			}
		}
	}
	.profile-container{
		@include grid-row(nested-collapse);
		padding:0;
		height:15em;
		.profile-pic{
			@include grid-column(6);
			height:100%;
			padding:0;
			background-size: cover!important;
			width:50%;
		}
		.profile-desc{
			//@include box-shadow(rgba(0,0,0,0.5) -4px 0px 3px);
			height:100%;
			@include grid-column(6);
			padding: 0.9em 0.5em 0.5em 0.8em ;	
			h1,h2,h3,h4,h5,h6,p,a{
				margin:0;
			}
			.nama{
				line-height: 1!important;
				margin-bottom: 0.2em;
				font-family: 'RalewayExtraLight' !important;
				text-transform: capitalize;
			}
			.nim{
				font-family: 'RalewayThin' !important;
			}
			.jurusan{
				font-family: 'RalewayExtraLight' !important;
				color:darken($gadget-font-color,4);
			}
		}
	}
}
#clock{
	@extend .gadget;
	@media only screen and (min-width:"#{$small-screen}"){
		@include grid-column(3);	
	}
	@include grid-column(12);
	.gadget-container{
		height:15em;
		padding:1em;
	}
	.gadget-content{
		text-align: center;
	}
	#hour-minute{
		font-family: "RalewayThin", sans-serif;
		font-size: 4em;
		//@include le-wow($gadget-font-color);
	}
	#second{
		font-family: "RalewayThin", sans-serif;
		font-size: 1.2em;
		position:absolute;
	}
}

#map{
	@extend .gadget;
	@media only screen and (min-width:"#{$small-screen}"){
		@include grid-column(3);	
	}
	@media only screen and (min-width:"#{$small-screen}") and (max-width:"#{$medium-screen}") {
		@include grid-column(12);	
	}
	@include grid-column(12);
	margin-top:-$column-gutter!important;
	@media #{$small}{
		margin-top:$column-gutter/2!important;
	}
	&.view{
		@media only screen and (min-width:"#{$small-screen}"){
			@include grid-column(4);	
		}
		@include grid-column(12);
		#map-area{
			height:17em!important;
		}
}
#map-container{

	padding:0!important;
	border:0px !important;

	}
	#map-area{
		width:100% !important;
		height:15em !important;
		.canvas_map{
			width:100% !important;
		}
	}
	&:before {
		content: " ";
		background: #fff;
		position: absolute;
		height: 11%;
		z-index: 20;
		bottom: 0;
		width: 100%;
		opacity:0;
	}
}
