@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
	}
  &:-moz-placeholder {
    color: $color; 
	}
  &:-ms-input-placeholder {
    color: $color; 
	}
  &::-webkit-input-placeholder {
    color: $color; 
	} 
}
$input-default-color:$color-1;
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="file"],
input[type="color"]{
  background:rgba(255,255,255,0.2) !important;
  @include box-shadow(none);
  @include border-radius(5px);
  border: 2px solid $input-default-color;
  color: $input-default-color;
  font-family: "RalewayRegular", sans-serif;
  font-size: 14px;
  padding: 2px 0 0 0;
  text-indent: 5px;
  margin-top:0.5em!important;
  margin-bottom:0.5em!important;
  &:focus{
    border-color:$input-default-color;
  }
  &.center{
    text-align:center!important;
  }
}
