@import "settings";
@import "foundation";
@import "placeholdertext";
.dropdown li a{
	@media #{$screen} {
		height:2em !important;
	}
}
.telephone{
	&:before{
		content:'Telephone : ';
		font-family:'RalewayMedium';
	}
}
.email{
	@extend .telephone;
	&:before{
		content:'E-Mail : ';
	}
}
.golongan_darah{
	@extend .telephone;
	&:before{
		content:'Gol. Darah : ';
	}
}
.penyakit_sedang{
	@extend .telephone;
	&:before{
		content:'Penyakit : ';
	}
}
@mixin grid-column-large($columns, $last-column: false, $center: false, $offset: false, $push: false, $pull: false, $collapse: false, $float: left) {
	@media #{$small} {
		@include grid-column($columns, $last-column, $center, $offset, $push, $pull, $collapse, $float);	
		} 
}
#main-content{
	padding-top:4em;
	padding-bottom:2em;
}
.top-bar{
	.button{
		margin-top:0!important;
	}
	&.fixed{
		top:0!important;
		opacity:0.97;
	}
}

.container{
	@include grid-column(12);
}

#sparta-logo{
	margin-top:0.3%;
	width:28%;
}

body {
  padding: 0;
  margin: 0;
}
label {
  color:#fff;
}
.logo {
  background: url(../images/logoweb.png) no-repeat;
  width: 193px;
  height: 70px;
}
#footer {
  text-align: center;
}
.help-block{
	@include label($bg:rgba(yellow,0.6));
	margin-bottom:1em!important;
	padding:0.5em 0.5em 0.5em 0.5em;
	@include border-radius(4px);
	font-family: "RalewayMedium", sans-serif;
	color:black!important;
	text-align:left;
	b{
		font-family: "RalewaySemiBold", sans-serif;
	}
}
span.error{
		@include label($bg:red);
		margin:1em;
		padding-top:7px;
		@include border-radius(4px);
}
#sparta-register{
	label{
		color:#000;
		margin-top:1em;
	}
	input{
		@include input-placeholder(rgba($color-1,0.2));
		
	}
	button,.button,input#submit{
		margin:1em;
	}
}
button,.button,input#submit{
	font-family: "RalewayRegular", sans-serif;
  	@include box-shadow(none);	
    @include sassy-button("flat", 2px, 1em, $color-2,$text-style:"false");
    font-weight:normal;
}
.butt{
	@include sassy-button-structure(0px, 1em,0.5em 0.5em);
	text-align:center;
	font-family: "RalewayRegular", sans-serif;
	border-bottom: 2px solid rgba($input-default-color,1);
	margin-bottom:1em;
	color: $input-default-color;
	padding:10px;
	opacity:0.7;
	&:hover{
		opacity:1;
	}
}

#list-box{
	@media only screen and (min-width:"#{$small-screen}"){
		position:absolute;
    	left:60px;	
	}
	@media only screen and (min-width:"#{$small-screen}") and (max-width:"#{$medium-screen+emCalc(80px)}") {
    	position:absolute;
    	left:10px;		
	}
	@media only screen and (max-width:"#{$small-screen}"){
		header{
			padding-top:2em;
			padding-bottom:2em;
		}	
	}
    position: relative;
    left:auto;
    margin-bottom:2em;
}