@import "compass/css3/transition";
$color-1: #FEFEFE;	//white
$color-2: #e67e22;	//orange-1 	
$color-3: #d35400;	//orange-2
$color-4: #f2b100;	//orange-3
$color-5: #ffc200;	//orange-4
$color-6: lighten(#000,20);	//dark
//logo
.title{
 font-family:'RalewayThin', Arial, sans-serif;
}
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}
[data-icon]{
    font-size: inherit;
    color:inherit;
    &.bigger{
    	&:before{
    	margin-right:5px;
		font-size: 120%;
    	}
	}

}
@mixin iconize($which:"\e000"){
	.text-title:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display:inline-block;
	content: $which;
	margin:3%;
	float:right;
	font-size:70%;
	}
}
@mixin le-wow($emboss-color:$color-3){
  @include text-shadow(darken($emboss-color,4) 0px 0.5px 0, darken($emboss-color,8) 0px 2px 0); 
}

.glow{
	&:hover{
		@include text-shadow(lighten($color-2,10) 0px 1px 10px);
		@include transition-duration(0.2s);
 		@include transition-timing-function(ease-in-out);
	}
}

@mixin button-wow($emboss-color:$color-1,$plain:false){

 	  @include text-shadow(darken($emboss-color,8) 0px 1px 0, darken($emboss-color,8) 0px 2px 0, darken($emboss-color,8) 0px 3px 0); 
  	  @include box-shadow(darken($emboss-color,8) 0px 5px 0px,rgba(0,0,0,0.1) 0px 10px 0px);
  margin-bottom:1em;
  margin-top:0.5em;
}
//Post Category:
.tugas{
	@include iconize("\e006");
}
.pengumuman{
	@include iconize("\e005");
}
.apresiasi{
	@include iconize("\e007");
}

