@import "gadget";
.text-container{
	padding:0!important;
	@extend .gadget-container;
	label{
		color: $color-6;
	}
	header{
		margin:0;
		padding:10px 10px 5px 10px;
		border-bottom: 2px solid rgba(0,0,0,0.17);
		span{
			font-family:'RalewayBold', Arial, sans-serif;
		}
		[data-icon]{
			@extend .glow;
			font-size: 1em;
			float: right;
			line-height: 0.5;
			opacity:0.7;
		    &:hover{
		    	opacity:1;
		    }
		}
	}
	#sidebar-list{
		list-style-type:none;
		margin:0;
		padding:0;
		ul{
			margin-bottom:0;
			list-style:none;
		}
		li{
			height:auto;
			margin:0;
			padding:0.5em 0.5em 0.5em 1em;
			
			h5{
				line-height:1.2;
				margin:0;
			}
			&.active{
				border-left: 4px solid $gadget-border-color;
			}
			&:hover{
				background-color: rgba(0,0,0,0.2);
				border-left: 2px solid lighten($gadget-border-color,10);
			}	
		}
	}	
	.content{
		padding:5% 8%;
		
		label{
			#article-category{
				font-weight: normal!important;
			}
			
			#article-author{
				font-weight: normal!important;
			}
		}
		
		#article-title{
			margin-bottom:0.7em;
		}
		
		#article-content{
			font-family:'RalewayLight', Arial, sans-serif;
		}
	}
}
#article-box{
	margin-bottom:2em;
	clear:both;
}
