/* -------------------------------------
 * Set to false if you are not using Chrome
 * ------------------------------------- */
$chrome: false

/* -------------------------------------
 * Styles
 * ------------------------------------- */

// Colours
$bg: #eee9dc
$white: #eee9dc
$red: #f98262

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro)




h2, #note
  margin: 0
  
#timeline
  margin-top: 80px
  margin-bottom: 80px
  padding: 0
  border-top: 5px solid $white
  list-style: none
  @if $chrome
    display: flex
  li
    padding-top: 30px
    position: relative
    @if $chrome
      flex: 1
      transition: all 0.4s ease-in-out
    @else
      //width: 20%
      float: left
    &:hover
      @if $chrome
        flex: 2
      label
        opacity: 1
        transform: translateY(10px)
  label
    @if $chrome
      max-width: 200px
    @else
      max-width: 80%
    .narrow
      width:30%
      left:8px
      span
        padding-top:5px
    margin: 0 auto
    padding: 5px 0px
    border-width: 2px
    border-style: solid
    border-color: $white
    border-radius: 5px
    position: absolute
    left: 4px
    right: 0
    cursor: pointer
    opacity: 0
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out
    &:before, &:after
      content: ""
      width: 0
      height: 0
      border: solid transparent
      position: absolute
      bottom: 100%
      pointer-events: none
    &:before
      border-bottom-color: $white
      border-width: 15px
      left: 52%
      margin-left: -15px
    &:after
      border-bottom-color: $bg
      border-width: 12px
      left: 52%
      margin-left: -12px
    span
      text-align: center
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      display: block

  .timeline-date
    width: 100%
    padding-bottom: 30px  //or hover effects
    text-align: center
    position: absolute
    top: -60px
    display: block
  .timeline-circle
    width: 20px 
    height: 20px 
    margin-left: -5px 
    background: $bg 
    border: 5px solid $white 
    border-radius: 50% 
    position: absolute 
    top: -13px 
    left: 50% 


  .timeline-radio
    display: none 
  .timeline-radio:checked
    & + label
      opacity: 1 
      transform: translateY(10px) 
      transition: opacity 0.4s ease-in-out 0.25s, transform 0.3s ease-in-out 0.25s 
    & ~ .timeline-circle
      background: $red 
    

@keyframes switching
0%
  transform: perspective(1000px) rotateY(20deg)
40%
  transform: perspective(1000px) rotateY(15deg) translate(100px,0)
100%
  transform: perspective(1000px) rotateY(15deg) translate(40px,0)


@keyframes switching_back
0%
  transform: perspective(1000px) rotateY(15deg) translate(40px,0)
  z-index: 200
40%
  transform: perspective(1000px) rotateY(15deg) translate(0px,0px) scale(1.08)
100%
  transform: perspective(1000px) rotateY(20deg)
  z-index: 100