<!--Disclaimer untuk Sony: Hapus tag 
	"<script id="..." type='text/mustache'>" sama "</script>"
	untuk ga pake Mustache-->	
<!--header-->
	<!DOCTYPE html>
	<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SPARTA | Home</title>  
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/vendor/custom.modernizr.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
	<!--<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script> -->
		<script src="js/jquery.js"></script>
		<script src="js/fastclick.js"></script>  
		<script src="js/jquery.fittext.js"></script>
		<script src="js/maplace.min.js"></script>
		<script src="js/mustache.js"></script>
	<body id="home" onload="updateClock(); setInterval('updateClock()', 1000 )">
<!--header END-->

<!-- Navigation -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="home.html">
            Sparta HMIF
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="home.html">Home</a></li>
        <li class="divider"></li>
        <li><a href="text.html">News</a></li>
      </ul>
    </section>
  </nav>
<!-- End Top Bar -->
<section id="profile-peserta" class="row">
	<div id="clock">
		<div class="gadget-container">
		<div class="gadget-content">
			<span data-icon="&#xe002" aria-hidden="true"></span>
			<h1>Today</h1>
			<span id="hour-minute">	</span><span id="second"> </span>
			<p id="date">13/06/2013</p>
		</div>
		</div>
	</div>
	<div id="profile">
		<div id="profile-container" class="gadget-container">
		<script id="profile_template" type='text/mustache'>
				<div id="profile-pic" style="background:url({{image-url}}) no-repeat;" alt="{{nama}}"> </div>
				<div id="profile-desc">
					<h1 id="nama">{{nama}}</h1>
					<h3 id="nim">{{nim}}</h3>
					<p id="jurusan">{{jurusan}}</p>
				</div>
		</script>
		</div>
	</div>
	
	<div id="map">
		<div id="map-container"class="gadget-container clear">
		<script id="map_template" type="text/mustache">
			<div id="map-area"></div>
			</div>	
			<script>
				  var maplace = new Maplace({
				  	map_div: '#map-area',
				  	locations: [
				  	{{#map}}
					  	{
					    lat: {{latitude}}, 
					    lon: {{longitude}},
					    zoom: 16
						}
					{{/map}}
						],
				    controls_on_map: false
				  }); 
				  maplace.Load(); 
			</script>
		</script>
		</div>
	</div>	

	<div class="gadget-1 hide-for-small">
		<div class="gadget-container">
		<header class="gadget-header">
			<span>This is a Header</span>
		</header>
		<footer class="gadget-footer">
			<span>This is a Footer</span>
		</footer>
		</div>
	</div>
	
	<div class="gadget-2">
		<div class="gadget-container">
		<div class="gadget-content">	
			<textarea type="text" placeholder="meh"></textarea>
		</div>
		<footer class="gadget-footer">
			<span>Share ye'r thought!</span>
		</footer>
		</div>
	</div>
	
	<div class="gadget-1">
		<div class="gadget-container">
		<h3 class="gadget-title">Hari Ini</h3>
		</div>
	</div>	
</section>
<!--Scripts dari external source, for Example Purpose ONLY! Hapus pas jadi VIEW YII-->
	<script src="js/clock.js"></script>
	<script src="js/home-tpl.js"></script>
<!--Scripts END-->
<!--footer-->

	<script>
	  $(function() {
	FastClick.attach(document.body);
	});
	</script>
		
	<script>
	document.write('<script src=' +
	('__proto__' in {} ? 'assets/js/vendor/zepto' : 'assets/js/vendor/jquery') +
	'.js><\/script>')
	</script>
	
	<script src="js/foundation/foundation.js"></script>
	<!--
	<script src="js/foundation/foundation.alerts.js"></script>
	
	<script src="js/foundation/foundation.clearing.js"></script>
	
	<script src="js/foundation/foundation.cookie.js"></script>
	
	<script src="js/foundation/foundation.dropdown.js"></script>
	
	<script src="js/foundation/foundation.forms.js"></script>
	
	<script src="js/foundation/foundation.joyride.js"></script>
	
	<script src="js/foundation/foundation.magellan.js"></script>
	
	<script src="js/foundation/foundation.orbit.js"></script>
	
	<script src="js/foundation/foundation.placeholder.js"></script>
	
	<script src="js/foundation/foundation.reveal.js"></script>
	
	<script src="js/foundation/foundation.section.js"></script>
	
	<script src="js/foundation/foundation.tooltips.js"></script>
	-->
	<script src="js/foundation/foundation.topbar.js"></script>
	
  
  <script>
    $(document).foundation();
  </script>
	</body>
	</html>
<!--footer END-->