<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<!--header-->
	<!DOCTYPE html>
	<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>SPARTA | Home</title>  
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/vendor/custom.modernizr.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
	<!--	<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script> -->
		<script src="js/jquery.js"></script> 
		<script src="js/jquery.fittext.js"></script>
		<script src="js/maplace.min.js"></script>
		<script src="js/mustache.js"></script>
	<body id="text-page">
<!--header END-->
<!-- Navigation -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="home.html">
            Sparta HMIF
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="home.html">Home</a></li>
        <li class="divider"></li>
        <li><a href="text.html">News</a></li>
      </ul>
    </section>
  </nav>
<!-- End Top Bar -->

<div class="row">
	<div id="list-box" class="large-3 columns">
		<div class="text-container">
			<header>
				<span>Articles</span>
				<!--IF Admin-->
				<a href=""><span data-icon="&#xe004" aria-hidden="true"></span></a>
				<!--END IF-->
			</header>
			<ul id="sidebar-list">
				<script id="list_template" type="text/mustache">
					{{#post}}
					<li class="{{category}}"><a href="{{url}}">
						<h5 class="text-title">
							{{title}}
						</h5>
						<label class="date">{{date}}</label>
						</a>
					</li>
					{{/post}}
				</script>				
			</ul>
		</div>
	</div>
	<div id="article-box" class="large-9 columns">
		<div class="text-container full-container">
			<header>
				<span>Articles</span>
				<!--IF Admin-->
				<a href=""><span data-icon="&#xe003" aria-hidden="true"></span></a>
				<!--END IF-->
			</header>
			<div id="text-content"class="content">
			<label><span id="article-category">category</span> / <span id="article-date">13/06/13</span> / <span id="article-author">by admin</span></label>
			<h1 id="article-title">Yuppy Bear Victorious</h1>
			<div id="article-content">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit enim vel lacus venenatis vulputate. Suspendisse quis lectus magna. Donec tincidunt, ligula sit amet ullamcorper ultricies, urna mi aliquam quam, et vulputate nisi lacus vitae sapien. Duis mollis auctor urna, interdum commodo lorem tincidunt eget. Vestibulum sit amet porta diam. Nam quam leo, accumsan sit amet quam ut, hendrerit varius augue. Nam a porta enim. Aenean placerat quam lectus, nec suscipit purus interdum in. Suspendisse sit amet viverra turpis, sed ullamcorper nisl. Nulla facilisi. Etiam erat dui, condimentum in magna sed, mollis aliquam nulla.
				</p><p>
				Vivamus at porta mi, sit amet faucibus tellus. Vestibulum tempor, nisl pellentesque sollicitudin adipiscing, ligula quam scelerisque orci, at consectetur mi erat convallis elit. Vivamus faucibus suscipit euismod. Nam at tortor tellus. Quisque ullamcorper nec tortor vitae facilisis. Nulla pellentesque cursus ligula a tristique. Morbi eleifend non libero ac faucibus. In hac habitasse platea dictumst.
				</p><p>
				Quisque ac tempor odio, ut vulputate sem. Morbi ac porta nunc. Mauris venenatis purus in est sollicitudin, eget aliquet nisi tincidunt. Fusce purus nisi, condimentum at commodo et, egestas quis urna. Fusce non nisi porta, bibendum ante convallis, accumsan ligula. Sed non urna vel arcu eleifend dapibus. Donec molestie tempus consectetur. Duis tincidunt venenatis commodo. Nunc vulputate pellentesque arcu. Vestibulum in sapien elementum odio volutpat vestibulum nec sit amet augue. Suspendisse rhoncus mi sit amet erat suscipit porttitor. Ut tristique volutpat tellus eget malesuada. Etiam facilisis felis ac ligula dapibus, quis viverra enim feugiat. Etiam tincidunt lorem ac elit rhoncus, ac accumsan augue feugiat.
				</p><p>
				Vivamus commodo lectus ut libero placerat, sed hendrerit nibh consequat. Maecenas hendrerit ornare libero, sed convallis est. Curabitur nisi quam, sodales quis neque quis, ullamcorper tempus quam. Suspendisse porta aliquam ipsum vitae elementum. Proin gravida congue risus, suscipit euismod neque accumsan ut. Nam dictum dolor auctor, varius eros et, sodales metus. Nulla scelerisque mattis nulla. Quisque ac hendrerit mi. Vestibulum lobortis commodo augue, vitae rhoncus erat mollis at. Quisque malesuada placerat massa at viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p><p>
				Donec posuere libero id eros laoreet accumsan. Integer pellentesque urna sit amet velit tincidunt semper. Pellentesque sit amet enim dolor. Mauris placerat magna eu neque vulputate, at aliquam orci scelerisque. Sed libero nunc, tempor ac lectus nec, facilisis rutrum turpis. Phasellus eu sapien at magna ullamcorper tempus. Nunc fringilla sapien ac eros hendrerit, at congue nisi aliquet. Donec malesuada, tellus eu interdum consectetur, justo nunc malesuada velit, posuere iaculis lorem leo at augue. Integer quis erat aliquet, varius turpis et, gravida metus. Sed eleifend nisi mi, et elementum enim commodo in. Quisque at ante pharetra, bibendum orci nec, iaculis mauris. Phasellus at ipsum a massa eleifend porttitor vel sit amet justo. Proin convallis risus lacus. Pellentesque accumsan, nibh nec lacinia sollicitudin, orci libero pretium sapien, et adipiscing augue mauris sed purus. Cras sed quam fe
				</p>
			</div>
			</div>
		</div>
	</div>
</div>

<!--Scripts dari external source, for Example Purpose ONLY! Hapus pas jadi VIEW YII-->
	<script src="js/text-tpl.js"></script>
	<script>
		$(document).ready(function() {
	 
	        //Calculate the height of <header>
	        //Use outerHeight() instead of height() if have padding
	        var aboveHeight = $('nav').outerHeight()+15;
	 		var mq = window.matchMedia( "(min-width: 785px)" );
		   //when scroll
	        $(window).scroll(function(){
	 
		        //if scrolled down more than the header’s height
		        if(mq.matches){
		            if ($(window).scrollTop() > aboveHeight){
			        // if yes, add “fixed” class to the <nav>
			        // add padding top to the #content 
		            //value is same as the height of the nav
		            $('#list-box').addClass('fixed');
		            
		            } else {
			        
		            // when scroll up or less than aboveHeight,        
		            //remove the “fixed” class
		                $('#list-box').removeClass('fixed');
		            }
	            }else{
	            	$('#list-box').removeClass('fixed');
	            }    
	        });
	    });
	</script>
<!--Scripts END-->
<!--footer-->
		
	<script>
	document.write('<script src=' +
	('__proto__' in {} ? 'assets/js/vendor/zepto' : 'assets/js/vendor/jquery') +
	'.js><\/script>')
	</script>
	
	<script src="js/foundation/foundation.js"></script>
	<!--
	<script src="js/foundation/foundation.alerts.js"></script>
	
	<script src="js/foundation/foundation.clearing.js"></script>
	
	<script src="js/foundation/foundation.cookie.js"></script>
	
	<script src="js/foundation/foundation.dropdown.js"></script>
	
	<script src="js/foundation/foundation.forms.js"></script>
	
	<script src="js/foundation/foundation.joyride.js"></script>
	
	<script src="js/foundation/foundation.magellan.js"></script>
	
	<script src="js/foundation/foundation.orbit.js"></script>
	
	<script src="js/foundation/foundation.placeholder.js"></script>
	
	<script src="js/foundation/foundation.reveal.js"></script>
	
	<script src="js/foundation/foundation.section.js"></script>
	
	<script src="js/foundation/foundation.tooltips.js"></script>
	-->
	<script src="js/foundation/foundation.topbar.js"></script>
	
  
  <script>
    $(document).foundation();
  </script>
	</body>
	</html>
<!--footer END-->

</body>
</html>
