

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Timeline</title>
  <meta name="description" content="Website Sparta HMIF 2012" />
  <meta name="keywords" content="Sparta, HMIF, 2012, ITB, Ospek, Jurusan, Informatika" />
  <meta name="author" content="Tim Web Sparta" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/timeline.css" />
  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/maplace.min.js"></script>
</head>

<body id="home">
<div class="bg"></div>
<div class="row">
<div class="gadget-4">
  <div class="gadget-container">
    <div class="gadget-content">
      <ul id='timeline'>
        <li class='timeline-entry'>
          <input checked='checked' class='timeline-radio' id='timeline-trigger5' name='trigger' type='radio'>
          <label for='timeline-trigger5'>
            <h4 class="center">Day 01</h4>
          </label>
          <span class='timeline-date'>16 May 2013</span>
          <span class='timeline-circle'></span>
        </li>
        <li class='timeline-entry'>
          <input class='timeline-radio' id='timeline-trigger4' name='trigger' type='radio'>
          <label for='timeline-trigger4'>
            <h4 class="center">Day 01</h4>
          </label>
          <span class='timeline-date'>15 May 2013</span>
          <span class='timeline-circle'></span>
        </li>
        <li class='timeline-entry'>
          <input class='timeline-radio' id='timeline-trigger3' name='trigger' type='radio'>
          <label for='timeline-trigger3'>
            <h4 class="center">Day 01</h4>
          </label>
          <span class='timeline-date'>14 May 2013</span>
          <span class='timeline-circle'></span>
        </li>
        <li class='timeline-entry'>
          <input class='timeline-radio' id='timeline-trigger2' name='trigger' type='radio'>
          <label for='timeline-trigger2'>
            <h4 class="center">Day 01</h4>
          </label>
          <span class='timeline-date'>13 May 2013</span>
          <span class='timeline-circle'></span>
        </li>
        <li class='timeline-entry'>
          <input class='timeline-radio' id='timeline-trigger1' name='trigger' type='radio'>
          <label for='timeline-trigger1'>
            <h4 class="center">Day 01</h4>
          </label>
          <span class='timeline-date'>12 May 2013</span>
          <span class='timeline-circle'></span>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="clear"></div>
 
  <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
  <script src="js/fastclick.js"></script>  
  
  <script src="js/list.min.js"></script>

  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>

  
  <script>
    $(document).foundation();
  </script>

</body>
</html>